<%
defineExport({
  head:{
    title: '번개머니가입_이용불가안내'
  },
  data: {
    headerSubInfo: {
      title: "번개머니 환급"
    },
    bottomSubInfo: {
      buttonItems: [
        {
          codeName: '확인',
        }
      ]
    }
  }
}).bind()
%>


<!-- contents -->
<div id="contents">
  <%- include($rootSrc('@/components/common/BsVerticalAlert'), {
    props:{
      iconType: 'pay',
      title: `환급 요청 완료`,
      description: `번개머니 환급 요청이 완료되었습니다.<br>환급은 1-3영업일 이내 처리됩니다.`
    }
  })%>
</div>
<!-- //contents -->