<%
const {
  buttonItems = []
} = props || {}
%>
<div id="bottom">
  <div class="inner">
    <div class="btn-wrap">
      <!-- [D] 비활성일경우 class disable 추가 -->
      <%_for(const i in buttonItems){_%>
      <a href="#none" class="<%-buttonItems[i].className ? buttonItems[i].className : 'btn-type-1'%> <%-buttonItems[i].disabled ? 'disable' : ''%>"><%-buttonItems[i].codeName%></a>
      <%_}_%>
    </div>
  </div>
</div>