<%
defineExport({
  head:{
    title: '선불충전금 보호조치에 대한 내용'
  },
  data: {
    headerSubInfo: {
      title: "약관"
    },
  }
}).bind()
%>


<div id="contents">
  <div class="grid-pd">
    <div class="box-terms">
      <h2>선불충전금 보호조치에 대한 안내</h2>
      <div>
        <h3>1. 선불충전금 보호조치</h3>
        <ul>
          <li>① 선불충전금 관리 방법 : 예치</li>
          <li>② 선불충전금 관리 기관 : 기업은행</li>
        </ul>
      </div>
      <div>
        <h3>2. 선불충전금 청구 사유</h3>
        <ul>
          <li>① 엔에이치엔케이씨피(주)의 선불전자지급수단 발행업 등록이 취소되거나 말소된 경우 </li>
          <li>② 엔에이치엔케이씨피(주)가 해산 또는 파산 등을 한 경우 </li>
          <li>③ 엔에이치엔케이씨피(주)가 "선불전자지급수단" 발행 및 관리 업무의 정지명령을 받은 경우 </li>
          <li>④ 엔에이치엔케이씨피(주)에게 위 각 사항에 준하는 사유가 발생한 경우</li>
        </ul>
      </div>
      <div>
        <h3>3. 선불충전금 청구 절차 </h3>
        <p>이용자는 엔에이치엔케이씨피(주)에게 위 청구 사유가 발생한 경우, 엔에이치엔케이씨피(주)의 선불충전금 관리기관에 아래 각 사항을 기재한 서면으로 지급을 청구할 수 있습니다. </p>
        <ul>
          <li>① 이용자 또는 선불전자지급수단을 식별할 수 있는 정보 </li>
          <li>② 선불충전금을 지급받을 계좌에 관한 정보</li>
        </ul>
      </div>

    </div>
  </div>
</div>