<%
defineExport({
  head:{
    title: '번개머니 서비스 이용 정책'
  },
  data: {
    headerSubInfo: {
      title: "약관"
    },
  }
}).bind()
%>
<div id="contents">
  <div class="grid-pd">
    <div class="box-terms">
      <h2>번개머니 서비스 이용 정책</h2>
      <div>
        <p>엔에이치엔케이씨피 주식회사(이하 '회사')는 아래 이용 정책에 따라 서비스 이용자에게 번개머니 서비스를 제공합니다.</p>
        <table>
          <thead>
            <tr>
              <th>분류</th>
              <th>항목</th>
              <th>내용</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td rowspan="2">회원</td>
              <td>서비스 이용 연령 </td>
              <td>
                만 14세 미만: 서비스 이용 불가<br>
                만 14세 이상, 만 19세 미만: 서비스 제한 이용<br>
                만 19세 이상: 서비스 정상 이용
              </td>
            </tr>
            <tr>
              <td>서비스 탈퇴</td>
              <td>보유한 번개머니 전액 환급 후 탈퇴 가능</td>
            </tr>
            <tr>
              <td rowspan="6">번개머니</td>
              <td>서비스 소개</td>
              <td>번개장터 내 모든 거래에 현금처럼 사용 가능</td>
            </tr>
            <tr>
              <td>거래 한도</td>
              <td>결제, 환급 등 이용자에 따라 최대 50만원 또는 최대 200만원의 한도로 거래 가능</td>
            </tr>
            <tr>
              <td>입금</td>
              <td>입금 방식을 번개머니로 선택 시, 판매 수수료를 제외한 물품 대금만큼 번개머니로 지급</td>
            </tr>
            <tr>
              <td>추가 혜택 지급</td>
              <td>입금 방식을 번개머니로 선택 시, 상품 금액의 일정 비율만큼 번개머니로 추가 지급</td>
            </tr>
            <tr>
              <td>환급</td>
              <td>보유한 번개머니의 환급 기준에 따라 번개머니를 이용자에게 현금으로 환급 (단, 추가로 지급된 추가 혜택 번개머니는 소멸 또는 회수)</td>
            </tr>
            <tr>
              <td>환급 수수료</td>
              <td>보유한 번개머니의 환급 기준에 따라 환급 처리 시 이용자가 부담하는 수수료</td>
            </tr>
          </tbody>
        </table>
        <p>번개머니 서비스 정책은 2025년 9월 17일부터 적용됩니다.</p>
        <p>번개머니 서비스와 관련하여 궁금하신 사항이 있으시면 엔에이치엔케이씨피 선불 서비스 상담 고객센터(1544-5472)로 문의 주시기 바랍니다.</p>
      </div>
    </div>
  </div>
</div>