<%
defineExport({
  head:{
    title: '개인정보 수집 및 이용 동의_번개머니 가입'
  },
  data: {
    headerSubInfo: {
      title: "약관"
    },
  }
}).bind()
%>

<div id="contents">
  <div class="grid-pd">
    <div class="box-terms">
      <h2>개인정보 수집 및 이용 동의</h2>
      <div>
        <p>엔에이치엔케이씨피 주식회사(이하 '회사')는 아래와 같이 서비스 이용자의 동의를 받아 개인정보를 수집 및 이용합니다.</p>
        <table>
          <thead>
            <tr>
              <th>목적</th>
              <th>수집 항목</th>
              <th>구분</th>
              <th>보유 및 이용기간</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>번개머니 회원가입 및 회원 관리, 서비스 이용에 따른 본인 식별·인증</td>
              <td>이름, 생년월일, 성별, 휴대폰번호, 통신사, 내외국인구분, CI, DI, 결제 비밀번호(PIN)</td>
              <td>만 14세 이상의 경우</td>
              <td>회원탈퇴 시 까지</td>
            </tr>
            <tr>
              <td>환급 계좌 등록</td>
              <td>은행명, 계좌번호, 예금주명</td>
              <td>만 19세 이상의 경우</td>
              <td>회원탈퇴 시 까지</td>
            </tr>
            <tr>
              <td>고객확인 의무 준수</td>
              <td>이름(한글, 영문), 국적, 성별, 생년월일, 주소, 이메일, 은행명, 계좌번호, 예금주명</td>
              <td>만 19세 이상의 경우</td>
              <td>수집일로부터 5년(특정 금융거래정보의 보고 및 이용 등에 관한 법률 제5조의4 제1항)</td>
            </tr>
          </tbody>
        </table>
        <p>서비스 이용자께서는 개인정보 수집 및 이용 동의를 거부하실 수 있습니다.</p>
        <p>단, 동의를 거부하는 경우 번개머니 가입이 불가하여 서비스 이용이 제한될 수 있습니다.</p>
      </div>
    </div>
  </div>
</div>