<%
defineExport({
  head:{
    title: '개인정보 제3자 제공 동의'
  },
  data: {
    headerSubInfo: {
      title: "약관"
    },
  }
}).bind()
%>
<div id="contents">
  <div class="grid-pd">
    <div class="box-terms">
      <h2>개인정보 제3자 제공 동의</h2>
      <div>
        <p>엔에이치엔케이씨피 주식회사 및 번개장터 주식회사는 번개머니 서비스 제공을 목적으로 아래의 개인정보를 상호 간에 제공합니다. </p>
      </div>




      <div>
        <h3>1. 제공 내용</h3>
        <ul>
          <li>- 제공하는 자: 엔에이치엔케이씨피 주식회사</li>
          <li>- 제공받는 자: 번개장터 주식회사</li>
          <li>- 제공 항목: 번개머니 회원식별번호, 번개머니 이용 정보(가입/탈퇴/계좌인증/환급 여부), 번개머니 이용내역</li>
          <li>- 제공 목적: 번개머니 서비스 제공, 번개머니 이용 실적 정보 통계 및 분석, 번개머니 서비스 개선</li>
        </ul>
        <br />
        <ul>
          <li>- 제공하는 자: 번개장터 주식회사</li>
          <li>- 제공받는 자: 엔에이치엔케이씨피 주식회사</li>
          <li>- 제공 항목: 번개장터 회원식별번호, CI(연계정보)</li>
          <li>- 제공 목적: 번개머니 서비스 제공, 회원가입, 회원 식별 및 본인 확인, 결제 및 정산처리, 부정 이용 방지, 번개머니 서비스 개선</li>
        </ul>
      </div>
      <div>
        <h3>2. 보유 및 이용 기간</h3>
        <p>번개머니 서비스 해지 시 지체 없이 파기 (단, 관련 법령에 의해 보존해야 하는 경우 그 시점까지 보존 후 지체 없이 파기)<br /><br />서비스 이용자께서는 위 개인정보 제3자 제공 동의를 하지 않으실 수 있으며, 동의를 거부하는 경우 번개머니 가입이 불가하여 서비스 이용이 제한됩니다.</p>
      </div>
    </div>
  </div>
</div>