<%
defineExport({
  head:{
    title: '번개머니가입_이용불가안내'
  },
  data: {
    headerSubInfo: {
      title: "번개머니 가입"
    },
    bottomSubInfo: {
      buttonItems: [
        {
          codeName: '확인',
        }
      ]
    }
  }
}).bind()
%>


<!-- contents -->
<div id="contents">
  <%- include($rootSrc('@/components/common/BsVerticalAlert'), {
    props:{
      iconType: 'cancel',
      title: `번개머니 가입 제한`,
      description: `번개머니는 미성년자 보호 및 안전한<br>
      거래 환경 조성을 위해 만 14세 미만은<br>
      가입 및 이용이 제한됩니다.`
    }
  })%>
</div>
<!-- //contents -->