<%
defineExport({
  head:{
    title: '고객확인 & 고객정보입력 (국내,해외 필드 모두 있음)'
  },
  data: {
    headerSubInfo: {
      title: "보유한도 상향",
    },
    bottomSubInfo: {
      buttonItems: [
        {
          codeName: '동의하기',
          disabled: true
        }
      ]
    }
  }
}).bind()
%>


<!-- contents -->
<div id="contents">
  <div class="grid-pd">

    <%-include($rootSrc('@/components/common/BsCustomConfirmForm'), {
      props: {
        notiItems: [
          {title: '고객확인 및 검증이 충분히 이루어지지 않을 경우 번개머니 보유한도 상향이 거절될 수 있습니다.'},
          {title: '고객에 따라 신분증이 필요할 수 있습니다.'}
        ]
      }
    })%>


  </div>
</div>
<!-- //contents -->