<%
defineExport({
  head:{
    title: '고객확인 재이행 - 약관동의'
  },
  data: {
    headerSubInfo: {
      title: "고객확인 재이행",
    },
    bottomSubInfo: {
      buttonItems: [
        {
          codeName: '다음',
        }
      ]
    }
  }
}).bind()
%>


<!-- contents -->
<div id="contents">
  <div class="grid-pd">
    <%-include($rootSrc('@/components/common/BsPageTitle'), {
      props: {
        title : `약관동의`,
        description: `번개머니 서비스 이용을 위해<br/> 고객확인 재이행이 필요합니다.<br/> 아래의 이용약관에 동의해주세요.`
      }
    })%>


    <%-include($rootSrc('@/components/common/UITermsItems'))%>





  </div>
</div>
<!-- //contents -->