<%
defineExport({
  head:{
    title: '고객확인재이행 - 신분증정보확인(운전면허증)'
  },
  data: {
    headerSubInfo: {
      title: "고객확인 재이행",
    },
    bottomSubInfo: {
      buttonItems: [
        {
          codeName: '확인',
        }
      ]
    }
  }
}).bind()
%>


<!-- contents -->
<div id="contents">
  <%- include($rootSrc('@/components/common/BsVerticalAlert'), {
    props:{
      iconType: 'cancel',
      title: `고객확인 재이행 불가`,
      description: `고객확인 재이행이 불가하여<br/>
번개머니 서비스 이용이 제한될 수 있습니다.<br/>
고객센터에 문의해 주세요.`
    }
  })%>
</div>
<!-- //contents -->